<a href="https://colab.research.google.com/github/anjali0356/Add-Two-Numbers/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
Data={"Name":["Peter", "Pallavi", "Stuti"],
      "Age":[23,25,16],
      "Salary":[20000, 40000, 15000],
      "Post":["manager", "HR", "Senior Manager"]}
df=pd.DataFrame(Data)
print(df)
df.describe()
df.head(1)
df.tail(2)
print(df.isnull())

      Name  Age  Salary            Post
0    Peter   23   20000         manager
1  Pallavi   25   40000              HR
2    Stuti   16   15000  Senior Manager
    Name    Age  Salary   Post
0  False  False   False  False
1  False  False   False  False
2  False  False   False  False

In [ ]:
print(df.isnull().sum())
print(df.duplicated())

Name      0
Age       0
Salary    0
Post      0
dtype: int64
0    False
1    False
2    False
dtype: bool

In [ ]:
print(df.dropna())
print(df)

      Name  Age  Salary            Post
0    Peter   23   20000         manager
1  Pallavi   25   40000              HR
2    Stuti   16   15000  Senior Manager
      Name  Age  Salary            Post
0    Peter   23   20000         manager
1  Pallavi   25   40000              HR
2    Stuti   16   15000  Senior Manager

In [ ]:
print(df["Salary"].mean())

25000.0

In [ ]:
print(df["Salary"].min())
print(df["Salary"].max())

15000
40000